.correct {
  background-color: #00a152 !important;
}

.incorrect {
  background-color: #b22a00 !important;
}

.gameActions > * {
  margin-top: 10px !important;
  margin-left: 0 !important;
  @media (orientation: portrait) {
    margin-left: 10px !important;
    margin-top: 0 !important;
  }
}
